{% extends '@person_content_type/partials/content/main-content.html.twig' %}


{% block title %}
<div class="title-content-wrapper">
  <div class="title-wrapper main-content p-0 mb-0">
      <div class="title-inner">
        <h1 class="page-title mb-0">
          {{ label }}

          {% block suffix %}
            {% if content.field_suffix.0 is not empty %}
              <div class="node-suffix d-inline-block">, {{ content.field_suffix }}</div>
            {% endif %}
          {% endblock %}
        </h1>

        {% block person_employment %}
          {% if any_fields_not_empty(content, ['field_department', 'field_person_organisation', 'field_role']) %}

            <div class="node-employment d-flex flex-column">

              {% block person_role %}
                {% if content.field_role is not empty %}
                  <div class="node-role d-inline-block">{{ content.field_role  }}</div>
                {% endif %}
              {% endblock %}

              <div class="node-job-details d-flex flex-wrap">

                {% block person_department %}
                  {% if content.field_department.0 is not empty %}
                    <div class="d-flex">
                      {{ content.field_department }}
                      {% if content.field_person_organisation.0 is not empty  %}<span class="comma d-inline-block ms-0 me-2">,</span>{% endif %}
                    </div>
                  {% endif %}
                {% endblock %}

                {% block person_organisation %}
                  {% if content.field_person_organisation.0 is not empty %}
                    <div class="d-inline-block">{{ content.field_person_organisation  }}</div>
                  {% endif %}
                {% endblock %}

              </div>
            </div>
          {% endif %}
        {% endblock %}

      </div>
    </div>
  </div>
{% endblock %}

